# .gitignore para projetos .NET/C#

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Migrations (opcional, remova se quiser versionar)
#migrations/

# Database
*.db
*.sqlite

# Logs
*.log

# Outros arquivos temporários
*.tmp
*.temp

# Pacotes
*.nupkg

# Configurações locais
appsettings.Development.json
.idea/
*.sqlite-wal
*.sqlite-shm